body {
    font-family: Arial, sans-serif;

    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: #808080;
    padding: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #4d4d4d;
}

.content {
    text-align: center;
    margin: 40px 0;
    
    height: 100%;
}

.menu-item {
   
    background-color: #4d4d4d;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px; 
}

.menu-section h2 {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.menu-section p {
    text-align: left;
    line-height: 1.6;
 
}
.menu-section{
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

/* Hide nav on desktop */
@media (min-width: 577px) {
    nav {
        display: none;
    }
}
            /* Tablet view:*/
@media (min-width:786px) and (max-width: 991px) {
    .menu-section .col-md-4 {
        width: 50%;
        float: left;
    }

    .menu-section .col-md-4:nth-child(3) {
        width: 100%;
        float: none;
        clear: both;
    }
}
 /* Responsive header for mobile */
@media (max-width: 576px) {
    header {
        font-size: 20px;
    }

    .navbar-collapse {
        background-color: #f0f1f3;
    }

    .navbar-header button.navbar-toggle, .navbar-header{
        border: 1px solid #04030e;
    }

   
    #nav-list li {
        border: 1px solid #040205e9;
        text-align: center;
        cursor: pointer;
    }
}



